@import "../../styles/colors";

.inputMainContainer {
  position: relative;
  height: 40px;

  input {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: $white;
    border: 1.2px solid $gray;
    padding: 0 30px 0 12px;
    font-size: 15px;
    line-height: 20px;
    box-sizing: border-box;
    color: $black;

    &::placeholder {
      color: $gray;
    }

    &:focus-visible {
      outline: none;
      border: 1.2px solid $primary;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
    cursor: pointer;
    color: $gray;
  }
}