@import "../styles/colors";

header {
  height: 70px;
  width: 100%;
  background: $light-gray;
  display: flex;
  justify-content: space-around;
  color: $primary;

  > * {
    display: flex;
    align-items: center;
  }
}

.logo {
  width: 10%;
  min-width: 120px;

  > * {
    margin-left: 15px;
  }

  img {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    padding: 3px;
  }
}

.search {
  justify-content: center;
  width: 80%;
}

nav {
  width: 10%;
  min-width: 160px;
  justify-content: end;

  > * {
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
  }
}
