@import "../App";

footer {
  height: 40px;
  width: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
  font-size: 12px;
  box-sizing: border-box;
  position:relative
}

footer:before {
  position:absolute;
  top:0;
  left: 2.5%;
  width:95%;
  border-top: 1px dashed $gray;
  content:"";
}