@import "../App";

footer {
  height: 40px;
  width: 100%;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 12px;
}