@import '../../App';

.btn-hover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  font-size: 12px;
  letter-spacing: 1px;
  color: $white;
  background-color: $primary;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: all .4s ease-out;
  border-radius: 10px;
}

.btn-hover:hover {
  background-color: #77a6f7;
}

.btn-hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $white;
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.btn-hover:hover::before {
  transform: translate(-50%, -50%) scale(20);
  opacity: 0;
}

.buttonIcon {
  margin-right: 5px;
  font-size: 16px;
}