@import "../../App";

.filterItemContainer {
  border-top: 1px solid $black;
}

.showCategory {
  max-height: 1000px;
  overflow-y: hidden;
  transition: max-height 1s ease-in-out;
}

.hideCategory {
  overflow: hidden;
  transition: max-height .5s ease-in-out;
  max-height: 0;
}

.filterTitle {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.filterTitle > svg {
  transition: .3s;
}

.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  margin: 10px 0px;
}

.checkbox-wrapper-46 .cbx span {
  display: flex;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid $gray;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 4px;
  left: 3px;
  fill: none;
  stroke: $white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: $primary;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
  max-width: 85%;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: $primary;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: $primary;
  border-color: $primary;
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

.disable {
  display: none;
}

.showMore {
  display: inline-block;
  position: relative;
  max-width: 90px;
  font-size: 13px;
  cursor: pointer;
  padding-bottom: 2px;
  user-select: none;
  transition: .2s;
  margin-bottom: 20px;
}

.showMore > svg {
  margin-left: 6px;

}

.showMore:after {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  border-top: 1px dashed $black;
  content: "";
}

.showMore:hover {
  color: red;
}

.showMore:hover:after {
  border-top: 1px dashed red;
}










