@import "../../App";

.activeFilterBlock {
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
  padding: 7px;
  margin: 5px;
  cursor: pointer;
  min-height: 35px;
  height: max-content;
  transition: .3s;
}

.activeFilterBlock:hover {
  background-color: $light-blue;
}

.activeFiltersContainer svg {
  margin: 3px 0 0 5px;
}