@import "../../styles/colors";

.priceSliderContainer {
  width: 70%;
  margin: 0 0 10px 15%;
}

.MenuItem {
  .MuiSlider-track {
    color: $primary;
    height: 1px;
  }

  .MuiSlider-thumb {
    color: $sky-blue;
    width: 10px;
    height: 10px;
    transition: 0.3s cubic-bezier(.47,1.64,.41,.8);

    &:hover,
    &.Mui-focusVisible,
    &.Mui-active {
      box-shadow: 0px 0px 4px 2px $primary;
    }

    &.Mui-active {
      width: 15px;
      height: 15px;
    }
  }

  .MuiSlider-rail {
    color: $sky-blue;
    opacity: 0.28;
  }
}

.priceSliderInputContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  width: 110%;
  margin-left: -5%;

  > input {
    width: 30%;
    height: 30px;
    box-sizing: border-box;
    background-color: $light-blue;
    border: none;
    border-radius: 10px;
    padding: 5px;
  }
}